@charset "utf-8";
/* CSS Document */

body { 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.header {
  position: fixed;
  background-color: black;
  padding: 20px 10px;
  min-width: 100vw;
  overflow: hidden;
  z-index: 1;
}

.header li{
	float: left;
	margin: 0 10px;
}
.header a {
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 999px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  border-right: 10px;
}

.title{
	overflow: hidden;
	padding: 20px;
}
.title h1{
	color: white;
	font-size: 60px;
	margin-top: 80px;
	text-align: center;
}

.title p{
	color: white;
	font-size: 20px;
	margin-top: 0;
	text-align: left;
	font-family: roboto;
}

.banner{
	height:300px;
	width: 100%;
	object-fit: cover;
}

.division{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	
}
.divone{
	background-color: aqua;
	min-height: 50%;
	min-width: 100%;
	position: relative;
	overflow: hidden;
}
.divtwo{
	background-color: white;
	min-height: 50%;
	position: relative;
	overflow: hidden;
}

.divone p{
	color: black;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 75px;
	text-align: center;
}
.division img{
	position: absolute;
	height: 250px;
	width: 600px;
	top: 850px;
	left: 430px;
	object-fit: cover;
	margin-top:-50px;
    margin-left:-50px;
	overflow: hidden;
}

.divtwo p{
	margin-left: 70px;
	margin-right: 60px;
	margin-top: 130px;
	font-family: roboto;
	font-size: 20px;
}
.divtwo p:first-child:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}